/* Change background color */
body {
    background-color: #f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
}

/* Style headings */
h1 {
    color: #b30018;
    text-align: center;
}

h2,
h3 {
    color: #0e0d0d;
}

/* Paragraph styling */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* List spacing */
ul,
ol {
    margin-left: 40px;
}

/* Style hyperlink */
a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

/* Button style */
button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #005c99;
}